/* Start Variables */
:root {
    --minColor: #10CAB7;
    --theSecndColor: #2C4755;
    --theTeredColor: #F6F6F6;
    --paddingTop: 60px;
    --paddingBottom: 60px;
}

/* End Variables */

/* Gloabl  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.gloabl-h2 {
    text-align: center;
    font-size: 100px;
    opacity: 0.1;
    letter-spacing: -7px;
    margin: 0;
}

@media (max-width: 576px) {
    .gloabl-h2 {
        font-size: 79px;
    }
}

.gloabl-p {
    margin: -30px;
    text-align: center;
}

/*small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Gloabl  */

/* Start Header Area  */
.header-area {
    padding: 15px;
}

.header-area .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area .logo {
    width: 60px;
}

.header-area .links {
    position: relative;
}

.header-area .links:hover .icon span:nth-child(2) {
    width: 100%;
    transition: 0.3s;
}

.header-area .links:hover ul {
    display: block;
}

.header-area .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header-area .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}



.header-area .links ul li {
    list-style: none;
}

.header-area .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: var(--theSecndColor);
    transition: 0.5s;
}

.header-area .links ul li a:hover {
    padding-left: 25px
}

.header-area .links ul li:not(:last-child) a {
    border-bottom: 1px solid var(--theSecndColor);
}

.header-area .links .icon span:first-child {
    width: 100%;
}

.header-area .links .icon span:nth-child(2) {
    width: 60%;
}

.header-area .links .icon span:nth-child(3) {
    width: 100%;
}

.header-area .links ul {
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: var(--theTeredColor);
    min-width: 200px;
    z-index: 1;
    border-radius: 4px;
    right: 0;
    top: 30px;
    display: none;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08),
        0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 4px 4px 0px rgba(0, 0, 0, 0.16),
        0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.header-area .links ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    right: 3px;
    top: -19px;
    border-color: transparent transparent var(--theTeredColor) transparent;
    
}

/* End Header Area  */

/* Start Spcail Heading */
.spcail-heading {
    background-image: url(../imgs/mario-ho-vV2A5OHUqsU-unsplash.jpg);
    background-size: cover;
    height: calc(100vh - 54px);
    padding: 10px;
}

.spcail-heading h1 {
    color: var(--minColor);
    text-align: center;
    font-weight: bold;
}

.spcail-heading p {
    text-align: center;
}

@media (max-width: 768px) {
    .spcail-heading p {
        line-height: 1.8;
    }
}

/* End Spcail Heading */
/* Start  Features  */
.features {
    padding-top: var(--paddingTop,60px);
    padding-bottom: var(--paddingBottom);
    background-color: var(--theTeredColor);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat .fa-solid {
    font-size: 66px;
    color: var(--minColor);
}

.features .feat:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4),
        0px 7px 13px -3px rgba(0, 0, 0, 0.3),
        0px -3px 0px 0px rgba(0, 0, 0, 0.2) inset;

}

/* End  Features   */

/* Start services part 2 */

.services-content {
    padding-top: var(--paddingTop);
    padding-bottom: var(--paddingBottom);
}

.services-content .container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.services-content .srv {
    margin-bottom: 30px;
    display: flex;
}

@media (max-width: 767px) {
    .services-content .srv {
        flex-direction: column;
        margin: 20px;
        text-align: center;
    }
}


.services-content .col .srv i {
    flex-basis: 60px;
    font-size: 57px;
    color: var(--minColor);
}

.services-content .col .srv .text {
    flex: 1;

}

.services-content .col .srv .text h3 {
    margin: 0 0 20px;
}

.services-content .col .srv .text p {
    font-weight: 300;
    line-height: 1.8;
}


.services-content .col .image img {
    width: 200px;

}

.services-content .col .image {
    position: relative;
    text-align: center;
}

@media (max-width: 991px) {
    .services-content .col .image {
        display: none;
    }
}

.services-content .col .image::before {
    content: '';
    background-color: var(--theSecndColor);
    position: absolute;
    width: 87px;
    top: -19px;
    right: 36px;
    height: 112%;
    z-index: -1;
}


/* End services part 2 */

/*Start Portfolio  */
.portfolio {
    padding-top: var(--paddingTop);
    padding-bottom: var(--paddingBottom);
    background-color: var(--theTeredColor);
}


.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    padding-top: 132px;
    text-align: center;
}

.portfolio .portfolio-content .card {
    background-color: white;
    align-items: center;
    width: 100%;
    border-radius: 2px;
}

.portfolio .portfolio-content .card:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4),
        0px 7px 13px -3px rgba(0, 0, 0, 0.3),
        0px -3px 0px 0px rgba(0, 0, 0, 0.2) inset;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .text {
    width: 100%;
    padding: 20px;

}

.portfolio .portfolio-content .card .text p {
    line-height: 1.6;
}

/*End Portfolio  */

/* Start About Us  */
.about-us {
    padding-top: var(--paddingTop);
    padding-bottom: var(--paddingBottom);
}

.about-us .about-us-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: var(--paddingBottom);

}


/*Medium*/
@media (max-width: 992px) {
    .about-us .about-us-content {
        flex-direction: column;
        text-align: center;

    }

}


.about-us .about-us-content .imge {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about-us .about-us-content .imge {
        margin: 0 auto 60px;
    }
}

.about-us .about-us-content .imge::after {
    content: '';
    width: 95px;
    height: 295px;
    position: absolute;
    border-left: 80px solid var(--minColor);
    border-bottom: 80px solid var(--minColor);
    top: -38.5px;
    right: -127px;
    z-index: -1;
}

.about-us .about-us-content .imge::before {
    position: absolute;
    content: '';
    background-color: #E5E5E5;
    width: 108px;
    height: calc(100% + 80px);
    top: -40px;
    z-index: -1;
    left: -14px;
}

@media (max-width: 991px) {

    .about-us .about-us-content .imge::before,
    .about-us .about-us-content .imge::after {
        display: none;
    }
}

.about-us .about-us-content .imge img {
    max-width: 100%;
}



.about-us .about-us-content .text p:first-of-type {
    font-weight: bold;
    margin-bottom: 38px;
    line-height: 2;
}

.about-us .about-us-content .text p:last-of-type {
    color: #777;
}

.about-us .about-us-content .text hr {
    width: 50%;
    border-color: var(--minColor);
    display: inline-block;
}

.about-us .about-us-content .text {
    flex-basis: calc(100% - 500px);
 
}

/* End  About Us  */

/* Start Contact Us */
.contact-us {
    padding-top: var(--paddingTop);
    padding-bottom: var(--paddingBottom);
    background-color: var(--theTeredColor);
}

.contact-us .text {
    padding-top: 66px;
    margin-left: 7%;
}

.contact-us .text>p {
    font-size: x-large;
    font-weight: bold;
    color: var(--theSecndColor);
}

.contact-us .text>a {
    text-decoration: none;
    color: var(--minColor);
    font-weight: bold;
    font-size: x-large;
}

.contact-us .text .icons {
    display: flex;
}

.contact-us .text .icons i {
    padding: 23px;
    color: black;
}

/* End Contact Us */

/*Start Footer*/
.footer {
    padding: 30px 10px;

    background-color: var(--theSecndColor);
}

.footer .text p {
    text-align: center;
    color: white;
    font-weight: bold;
}

.footer .text span {
    color: var(--minColor);
}

/*End Footer*/